@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');


$primary-color: #0071bc;
$secondary-color: #000;
$white-color: #fff;

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $secondary-color;
}
