.navbar {
    box-shadow: 0px 2px 2px 0px rgba(167, 177, 184, 0.2);
    padding: .75rem 1rem;
    .input-group {
        @media (min-width: 1600px){
            max-width: 575px;
        }
        @media (min-width: 1200px) and (max-width:1599px){
            max-width: 380px;
        }

        .form-control {
            border: 1px solid $primary-color;
            font-size: 14px;
            color: $black-color;

            &::placeholder {
                font-size: 14px;
                color: $black-color;
            }
        }

        .search-btn {
            font-size: 18px;
            padding: 8px 15px;
        }
    }

    &.navbar-light .navbar-nav .nav-link{
        font-size: 14px;
        font-weight: 500;
        color: $black-color;

        &:hover {
            color: $primary-color;
        }

        @media (min-width: 1200px){
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }

    .user-avatar {
        width: 35px;
        height: 35px;
        border: 1px solid rgba($primary-color, 0.1);
        border-radius: 50%;
        object-fit: cover;
    }

    @media (max-width: 1199px){
        .navbar-nav{
            &.logged-in {
                flex-direction: row;

                .nav-link {
                    padding-right: 15px;
                }
                
                .user-avatar {
                    margin-top: -5px;
                }
            }
        }
    }
    
 
} 