.become-a-instructor {
    .main-content {
        background: url(../images/become-instructor/become-instructor.png) no-repeat center center/cover;
        padding: 50px 0 40px 0;        

        .description {
            font-size: 14px;
            font-weight: 500;
            color: $white-color;
            padding: 15px 0 30px 0;  
        }
    }
}