// btn start
.btn {
    font-size: 14px;
    font-weight: 600;
}


.btn-brand {
    background: $primary-color;
    color: $white-color;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;

    &:hover {
        color: $white-color;
        background: darken($primary-color, 5);
    }
}

// btn end