.my-course-item {
    .card-body {
        padding: 1rem .9rem;
    }
    .category {
        font-size: 12px;
        color: rgba($black-color, 0.6)
    }
    .course-title {
        font-size: 16px;
        color: $black-color;
        font-weight: 600;
    }
    .progress {
        height: 4px;
        margin: 20px 0 5px 0;
        background-color: #a7b1b8;

        .progress-bar {
            background-color: $primary-color;
        }
    }
    .progress-percentage {
        @extend .category;
    }
}